body{
    color: #330033;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 18px;
}

ul.Ordered {    
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: #CCFFCC; 
}

ul.Ordered li{
    line-height: 150%;            
}

ol.Unordered {    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFCC99;    
}

ol.Unordered li{
    line-height: 150%;
    list-style-type: upper-alpha;
}

a:hover{
    color: red;
    font-weight: bold;
}

span.first{
    color: #008000;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.border::after {
    content: "";
    clear: both;
    display: table;
}

div.left{
    float: left;
    width: 600px;
}

div.right.green{
    float: right;
    width: 100px;  
    height: 110px;
    background-color: #CCFFCC;  
    margin-top: 16px;
    padding-top: 30px;
    padding-left: 100px;
}

div.right.orange{
    float: right;
    width: 100px;  
    height: 110px;
    background-color: #FFCC99;  
    margin-top: 16px;
    padding-top: 30px;
    padding-left: 100px;
}

span.simpson {
    height: 80px;
    width: 60px;
    background: url("images/combined.png") 180px 0;   
    display: inline-block;  
    border-style: none;
}

span.simpson:hover {
    height: 80px;
    width: 60px;
    background: url("images/combined.png") 0 0;    
    display: inline-block;    
    border-style: none;
}

span.couple {
    height: 80px;
    width: 60px;
    background: url("images/combined.png") 120px 0;   
    display: inline-block;    
    border-style: none;
}

span.couple:hover {
    height: 80px;
    width: 60px;
    background: url("images/combined.png") 60px 0;
    display: inline-block; 
    border-style: none;   
}