body {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a.active{
    color: blue;
}

.container{
    width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;;
}

.city{
    font-size: 24px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
    position: absolute;
}

.icon {
    width: 100px;
    height: 100px;
    float: left;
}

.temp{
    font-size: 60px;   
    color: #000;         
}

.switch{
    position: relative;
    top: 26px;
    left: 65px;    
}

.other {    
    width: 150px;
    float: right;
    color: #000;
} 

